{% extends 'Management/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/AddEmployee.css' %}">
<title>Add Employees</title>

{% endblock styles %}

{% block content %}

<div class="head">
    <h1>Add Employee</h1>
</div>

<form method = "POST">
    {% csrf_token %}
        <div class="bigpart">
            <div class="part1">
                
                <div class="Name">
                    <label for="name" class="invisible">Full Name</label> 
                    <input type="text" id="name" placeholder="Name" class="bar">
                </div>
                
                <div class="ID">
                    <label for="id" class="invisible">ID</label>
                    <input type="number" id="id" placeholder="ID" class="bar">
                </div>
                
                <div class="Email">
                    <label for="email" class="invisible">E-Mail </label>
                    <input type="email" id="email" placeholder="E-Mail" class="bar">
                </div>
                
                <div class="Address">
                    <label for="address" class="invisible">Address</label>
                    <input type="text" id="address" placeholder="Address" class="bar">
                </div>
                
                <div class="Number">
                    <label for="number" class="invisible">Phone Number</label>
                    <input type="tel" id="number" placeholder="Mobile Number" class="bar">
                </div>

            </div>
            
            <div class="part2">
                <div class="Gender">
                    <label for="gender">Gender</label><br>
                    <div class="genderType">
                        <input type="radio" name="gender" value="Male">Male
                        <input type="radio" name="gender" value="Female">Female
                    </div>
                </div>
                
                <div class="Date">
                    <label for="date">Date of Birth </label>
                    <input type="date" id="dob">
                </div>
                
                <div class="Status">
                    <label for="status">Marital Status</label>
                    <select id="status">
                        <option value="undefined" selected>------</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                </div>
                
                <div class="Vacation">
                    <label for="vacationDays" class="invisible">Vacation Days</label>
                    <input type="number" id="vacation" name="Vacation" placeholder="Available Vacation Days">
                </div>

                <div class="Salary">
                    <label for="salary" class="invisible">Salary</label>
                    <input type="number" id="salary" name="Salary" placeholder="Salary">
                </div>
            </div>
        </div>
        
        <div class="Buttons">
            <input type="button" value="Add" class = "buttons" type="submit">
            <input type="button" value="Cancel" class = "buttons" onclick= "window.location.href='{% url 'hr-home' %}';">
        </div>
</form>

<script src="../JS/addEmp.js"></script>

{% endblock content %}