{% extends 'Management/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/AddEmployee.css' %}">
<link rel="stylesheet" href="{% static 'Management/CSS/Message.css' %}">

<title>Add Employees</title>

{% endblock styles %}

{% block content %}

<div class="head">
    <h1>Add Employee</h1>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
            </li>
        {% endfor %}
    </ul>
{% endif %}


<form method = "POST">
    {% csrf_token %}
        <div class="bigpart">
            <div class="part1">

                <div class="Name">
                    <label for="name", class="invisible">Full Name</label> 
                    {{form.name}}
                    {{form.name.errors}}
                </div>
                
                <div class="ID">
                    <label for="id", class="invisible">ID</label>
                    {{form.id}}
                    {{form.id.errors}}
                </div>
                
                <div class="Email">
                    <label for="email", class="invisible">E-Mail </label>
                    {{form.email}}
                    {{form.email.errors}}
                </div>
                
                <div class="Address">
                    <label for="address", class="invisible">Address</label>
                    {{form.address}}
                    {{form.address.errors}}
                </div>
                
                <div class="Number">
                    <label for="number", class="invisible">Phone Number</label>
                    {{form.number}}
                    {{form.number.errors}}
                </div>
            </div>
            
            <div class="part2">
                <div class="Gender">
                    <label for="gender">Gender</label><br>
                    <div class="genderType">
                        {{form.gender.errors}}
                        {{form.gender}}
                    </div>
                </div>
                
                <div class="Date">
                    <label for="date">Date of Birth </label>
                    {{form.dob}}
                </div>
                
                <div class="Status">
                    <label for="status">Marital Status</label>
                    {{form.status}}
                    {{form.status.errors}}
                </div>
                
                <div class="Vacation">
                    <label for="vacationDays", class="invisible">Vacation Days</label>
                    {{form.availableVacation}}
                    {{form.availableVacation.errors}}
                </div>

                <div class="Salary">
                    <label for="salary", class="invisible">Salary</label>
                    {{form.salary}}
                    {{form.salary.errors}}
                </div>
            </div>
        </div>
        
        <div class="Buttons">
            <input type="submit", value="Add", class = "buttons">
            <input type="button", value="Cancel", class = "buttons", onclick= "window.location.href='{% url 'hr-home' %}';">
        </div>
</form>

{% endblock content %}