{% extends 'Management/base.html' %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/VacationList.css' %}" />
<title>All Vacations</title>
<script type="text/javascript" src="../JS/vacationList.js"></script>

{% endblock styles %} {% block content %}

<h1>All Vacations</h1>

<div class="vacs">
  {% if !data %}
  <h1>No vacations to show</h1>
  {% else %}
  <table>
    <tr>
      <th>Employee</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </table>
  {% for vac in data %}
  <div class="vac">
    <div class="{%vac.%}">
      <div class="empData">
        {%vac.employeeID%} <br />
        {%employees.get()%}
      </div>
      <div class="vacStatus">Status: ${vacs[k].status}</div>
    </div>
    <div class="cardBody">
      <div class="vacDates">
        ${beginDate.getDate()}/${beginDate.getMonth() +
        1}/${beginDate.getFullYear()} ->
        ${endDate.getDate()}/${endDate.getMonth() + 1}/${endDate.getFullYear()}
        <br />{% vac.days %} days
      </div>
      <div class="vacReason">
        Reason: <br />
        {% vac.reason %}
      </div>
      <div class="vacActions">
        {% if vac.status == "Pending" %}
          <button class="appBut" onclick="window.location.href = '/approveVacation/{% vac.id %}'">Approve</button>
          <button class="denBut" onclick="window.location.href = '/denyVacation/{% vac.id %}'">Deny</button>
        {% endif %}
          <button class="deleteBut" onclick="window.location.href = '/deleteVacation/{% vac.id %}'">Delete</button>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock content %}
