{% extends 'Management/base.html' %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/Vacation.css' %}" />
<link rel="stylesheet" href="{% static 'Management/CSS/Message.css' %}">
<title>Vacation Application Form</title>

{% endblock styles %} {% block content %}
<div>
  <h1>Apply for Vacation</h1>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form class="vform" method="post">
    {% csrf_token %}

    <div class="flex_row avDaysDiv">  
      <p>Available Vacation Days: </p><p class="availabledays">{{availableDays}}</p>
    </div>

    <div class="vform-top">
      
      <div class="flex_col">
        <div class"flex_row">
          
          <label for="employeeID">ID</label>
          {{form.employeeID}}
        </div>
        {{form.employeeID.errors}}
      </div>

      
      <div class="flex_col">
        <div class"flex_row">
          <label for="empname">Name</label>
          {{form.empname}}
        </div>
        {{form.empname.errors}}
      </div>
    </div>

    <div class="vform-mid">
      <div class="form-half date">
        <label>Starting Date</label>
        {{form.startDate}}
        {{form.startDate.errors}}

        <label>Ending Date</label>
        {{form.endDate}}
        {{form.endDate.errors}}
      </div>

      <div class="form-half reason">
        <label>Reason</label>
        {{form.reason}}
        {{form.reason.errors}}
      </div>
    </div>

    <div class="input-part">
      <input type="submit" class="abutton" value="Submit Request" />
      <input
        type="button"
        class="abutton"
        value="Cancel"
        onclick="window.location.href = '{% url 'hr-home' %}'"
      />
    </div>
  </form>
</div>
{% endblock content %}
