.head{
    background: rgba(246, 107, 14, 0.9);
    width: 300px;
    height: 65px;
    border-radius: 20px;
    margin-left: 42.2%;
}

.vl{
    position: absolute;
    left: 49.8%;
    bottom: 25%;
    background-color: #565a77;
    width: 4px;
    height: 380px;
    border-radius: 200px;
}

div h1 {
    text-align: center;
    color: white;
    font-family: arial;
    padding: 13px;
}

form {
    text-align: center;
    color: white;
    background: #303242;
    padding: 20px 0;
    text-align: center;
    height: 500px;
    width: 700px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form label.invisible{
    display: none;
}

form input.bar {
    width: 300px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
    float: left;
}

form input.buttons{
    border-radius: 10px;
    font-size: 20px;
    background-color: #f66b0e;
    border-color: #f66b0e;
    color: white;
    padding: 7px;
    padding-inline: 16px;
}

form input[type= submit]{
    position: absolute;
    left: 270px;
    bottom: 20px;
}

form input[type= button]{
    position: absolute;
    left: 350px;
    bottom: 20px;
}

form label[for = gender]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
    position: absolute;
    left: 52%;
    bottom: 85.7%;
}

.genderType{
    position: relative;
    left: 2%;
    bottom: 34%;
    font-size: 18px;
    font-family: sans-serif;
}

form label[for = date]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
    position: absolute;
    left: 52%;
    bottom: 71.4%;
}

form input[type= date]{
    position: absolute;
    left: 74%;
    bottom: 72%;
    border-radius: 7px;
    font-size: 16px;
    padding: 3px;
}

form label[for = status]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
    position: absolute;
    left: 52%;
    bottom: 57%;
}

form select{
    position: absolute;
    left: 77%;
    bottom: 58%;
    padding: 6px;
    border-radius: 5px;
}

form #salary {
    width: 200px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
    position: absolute;
    left: 56%;
    bottom: 39.4%;
}