.head{
    background: rgba(246, 107, 14, 0.9);
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
    width: 270px;
}

div h1 {
    text-align: center;
    color: white;
    font-family: arial;
}

form {
    margin: auto;
    text-align: center;
    color: white;
    background: #303242;
    padding: 20px 0;
    text-align: center;
    height: 500px;
    width: 700px;
    border-radius: 12px;
    display: flex;
}

form div.part1{
    flex-direction: column;
}

form div.part2{
    flex-direction: column;
}

.vl{
    background-color: #565a77;
    width: 4px;
    height: 380px;
    border-radius: 200px;

}

form label.invisible{
    display: none;
}

form input.bar {
    width: 300px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
}

form input.buttons{
    border-radius: 10px;
    font-size: 20px;
    background-color: #f66b0e;
    border-color: #f66b0e;
    color: white;
    padding: 7px;
    padding-inline: 16px;
}

form div.buttons{
    flex-direction: row;
}

form label[for = gender]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

.genderType{
    position: relative;
    left: 2%;
    bottom: 34%;
    font-size: 18px;
    font-family: sans-serif;
}

form label[for = date]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

form input[type= date]{
    border-radius: 7px;
    font-size: 16px;
    padding: 3px;
}

form label[for = status]{
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

form select{
    padding: 6px;
    border-radius: 5px;
}

form #salary {
    width: 200px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
}