*{
    font-family: Franklin Gothic Medium;
    color: #fff;
}
.centre {
    margin-left: auto;
    margin-right: auto;
}

.employeeData{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

::selection{
    background: #1d1d1d;
    color: #fff;
    text-shadow: none;
    position: fixed;
}

header {
    background-color: #746767;
    text-align: center;
    width: 50%;
    padding: 15px;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    background-color: #f66b0e;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
