.head{
    background: rgba(246, 107, 14, 0.9);
    display: flex;
    margin-left: 42.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
    width: 270px;
}

div h1 {
    text-align: center;
    color: white;
    font-family: arial;
}

form {
    margin: auto;
    text-align: center;
    color: white;
    background: #303242;
    padding: 20px 0;
    text-align: center;
    height: 500px;
    width: 700px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.bigpart{
    display: flex;
    flex-direction: row;
}

form div.part1{
    flex-direction: column;
}

form div.part2{
    flex-direction: column;
    justify-content: space-between;
}

form div.Buttons{
    flex-direction: row;
    margin: 50px 0;
}

form label.invisible{
    display: none;
}

form input[name = name], input[name = id], input[name = email], input[name = address], input[name = number]{
    width: 300px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
}

form input.buttons{
    border-radius: 10px;
    font-size: 20px;
    background-color: #f66b0e;
    border-color: #f66b0e;
    color: white;
    padding: 7px;
    padding-inline: 16px;
}

.Gender{
    display: flex;
    margin: 18px 0;
}

.Date{
    display: flex;
    margin: 42px 0;
}

form label[for = gender]{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

form input[type = "number"]::-webkit-inner-spin-button{
    display: none;
}

.genderType select{
    font-size: 15px;
    font-family: sans-serif;
    margin: auto;
    margin-left: 50px;
    margin-top: 3px;
}

form label[for = date]{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

form input[name= dob]{
    border-radius: 7px;
    font-size: 15px;
    width: 40%;
    padding: 3px;
    margin-left: 20px;
}

.Status{
    display: flex;
}

.Status select{
    font-size: 15px;
    font-family: sans-serif;
    margin: auto;
    margin-left: 30px;
}

form label[for = status]{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f66b0e;
    padding: 7px;
    border-radius: 10px;
}

form select{
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;
}

form input[name = availableVacation]{
    width: 200px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
    display: flex;
    margin: 35px 45px;
}

form input[name = salary] {
    width: 200px;
    margin: 17px;
    padding: 12px 10px;
    border-radius: 7px;
    display: flex;
    margin: 35px 45px;
}

.errorlist{
    color: rgb(255, 162, 56);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin-top: 1px;
    margin-bottom: 1px;
}  