h1, h3 {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #f66b0e;
    padding: 20px;
    border-radius: 10px;
  }
.vacs {
    color: #ffffff;
    background-color: #30324284;
    width: fit-content;
    max-width: 80%;
    margin: auto;
    font-size: 1em;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.vac{
    display: flex;
    background-color: #303242;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    height: fit-content;
    border-radius: 10px;    
    margin: 15px;
}
.cardHead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    border-radius: 10px;
    background-color: #f66b0e;
    margin: auto;
    padding-left: 10px;
}
.approved{
    background-color: rgba(79, 222, 114, 0.7);
}
.denied{
    background-color: rgb(221, 50, 50);
}
.empData{
    text-align: start;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
.vacDates{
    background-color: rgb(101, 101, 101);
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
}
.vacReason{
    word-wrap: break-word;
}
.vacStatus{
    margin: auto;
    width: 30%;
    padding: 15px;
}
.vacActions{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
}

button {
    border: #ffffff 1px solid;
    width: 100% - 20px;
    margin: auto;
    font-size: 1em;
    color: #ffffff;
    background-color: #303242;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.appBut:hover{
    background-color: rgba(79, 222, 114, 0.7);
}

.denBut:hover{
    background-color: rgb(221, 50, 50);
}

.deleteBut:hover{
    background-color: rgb(145, 145, 130);
}
tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}
td {
    border: #ffffff 1px solid;
    word-wrap: break-word;
    max-width: 300px;
    font-size: 1em;
    background-color:rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    padding: 10px;
}