{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'Management/CSS/Navigation.css' %}">
        <link rel="stylesheet" href="{% static 'Management/CSS/Transition.css' %}">
        <link rel="icon" href="{% static 'Management/Images/favicon.ico' %}" type="image/x-icon">

        {% block styles %}{% endblock styles %}
        
    </head>
    <body>
        <nav>
            <img src="{% static 'Management/Images/logo.png' %}"/>
            <a href="{% url 'hr-home' %}" class="logo">FCAI HR</a>
            <ul>
                <li><a href="{% url 'hr-home' %}"><b>Home</b></a></li>
                <li><a href="{% url 'hr-about' %}"><b>About Us</b></a></li>
                <li><a href="{% url 'hr-vacationList' %}"><b>Vacation List</b></a></li>
            </ul>
        </nav>
        <div class="transition">

            {% block content %}{% endblock content %}
        
        </div>
    </body>
</html>
