{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'Management/CSS/Navigation.css' %}">
        <link rel="stylesheet" href="{% static 'Management/CSS/Transition.css' %}">
        <link rel="stylesheet" href="{% static 'Management/CSS/Homepage.css' %}">
        <link rel="icon" href="{% static 'Management/Images/green-power.ico' %}" type="image/x-icon">
        <title>Projects</title>
    </head>
    <body>

        <div class="transition">
        
            <div class="head">
                <h1>Select Project</h1>
            </div>
    
            <menu>
                <div class="pro1">
                    <a href="index.html">Human Resources</a><br>
                </div>
                <div class="pro2">
                    <a href="#">Student Affairs</a><br>
                </div>
                <div class="pro3">
                    <a href="#">Higher Studies</a><br>
                </div>
                <div class="pro4">
                    <a href="#">Laboratory Tracking</a><br>
                </div>
            </menu>        
        </div>
    </body>
</html>
