{% extends 'Management/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/EmployeeData.css' %}">
<title>Employee Page</title>

{% endblock styles %}


{% block content %}

<div class="head">
    <h1>Employee's Data</h1> 
</div>

<table> 
    <tbody>
        <tr>
            <td>
                <div class="info">Name</div>
            </td>
            <td>
                {{empData.name}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">ID</div>
            </td>
            <td>
                
                {{empData.id}}
                
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">E-Mail</div>
            </td>
            <td>
                {{empData.email}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">Address</div>
            </td>
            <td>
                {{empData.address}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">Number</div>
            </td>
            <td>
                {{empData.number}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">Gender</div>
            </td>
            <td>
                {{empData.gender}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info double">Marital Status</div>
            </td>
            <td>
                {{empData.status}}
            </td>
        </tr>

        <tr>
            <td>
                <div class="info extra">Available Vacation Days</div>
            </td>
            <td>
                {{empData.availableVacation}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info extra">Approved Vacation Days</div>
            </td>
            <td>
                {{empData.approvedVacation}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info">Salary</div>
            </td>
            <td>
                {{empData.salary}}
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="info double">Date Of Birth</div>
            </td>
            <td>
                {{empData.dob}}
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}