{% extends 'Management/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/Update.css' %}">
<title>Update Data Of Employees</title>

{% endblock styles %}


{% block content %}
<h1>Update Employee Data</h1>

<form method = "POST">
	{% csrf_token %}

		<label for="id">ID</label>
		{{form.id}}
		<br/><br/>

		<label for="name">Full Name</label>
		{{form.name}}
		<br/><br/>

		<label for="gender">Gender</label><br/>
		{{form.gender}}

		<label for="email">E-Mail </label>
		{{form.email}}
		<br/><br/>

		<label for="address">Address</label>
		{{form.address}}
		<br/><br/>

		<label for="number">Phone Number </label>
		{{form.number}}
		<br/><br/>

		<label for="date">Date of Birth </label>
		{{form.dob}}
		<br/><br/>

		<label for="maritalStat">Marital Status</label>
		{{form.status}}
		<br/><br/>

		<label for="number of available vacation days"> Number of available vacation days</label>
		{{form.availableVacation}}

		<br/><br/>

		<label for="number of approved vacation days"> Number of actual approved vacation days</label>
		{{form.approvedVacation}}
		<br/><br/>

		<label for="salary">Salary</label>
		{{form.salary}}
		<br/><br/>

	<div class="buttons">
	<input type="submit" value="Update" id="update-button"/>
	<input type="button" value="Delete" id="delete-button" onclick="window.location.href='{% url 'hr-deleteData' id %}';"/>
	<input type="button" value="Cancel" onclick="window.location.href='{% url 'hr-home' %}';"/>
	</div>
</form>

{% endblock content %}
