{% extends 'Management/base.html' %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static 'Users/CSS/VacationList.css' %}" />
<title>All Vacations</title>
<script type="text/javascript" src="../JS/vacationList.js"></script>

{% endblock styles %} {% block content %}

<h1>All Vacations</h1>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message|safe }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="vacs">
  {% load vacs_tags %}
  
  {% for vac in vacs %}
  {% calc_vac_days vac as days %}
  <div class="vac">
    <div class="cardHead {{vac.status}}">
      <div class="empData">
        {{vac.employeeID.id}} <br />
        {{vac.employeeID.name}}
      </div>
      <div class="vacStatus">Status: {{vac.status}}</div>
    </div>
    <div class="cardBody">
      <div class="vacDates">
        {{vac.startDate}} -> {{vac.endDate}}
        <br />{{ days }} days
      </div>
      <div class="vacReason">
        Reason: <br />
        {{ vac.reason }}
      </div>
      <div class="vacActions">
        {% if vac.status == "Pending" %}
          <button class="appBut" onclick="window.location.href = '/approveVacation/{{ vac.id }}'">Approve</button>
          <button class="denBut" onclick="window.location.href = '/denyVacation/{{vac.id }}'">Deny</button>
        {% endif %}
          <button class="deleteBut" onclick="window.location.href = '/deleteVacation/{{vac.id}}'">Delete</button>
      </div>
    </div>
  </div>
  {% empty %}
  <h1>No vacations to show</h1>
  {% endfor %}
</div>

{% endblock content %}
